/* Stylesheet for Dercuano; parts modeled on A Medium Corporation and
   The Grammar of Graphics. */

body {
    max-width: 45em;
    padding: 1em;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.794)
}

pre { font-size: 19px }

blockquote, pre {
    background-color: #eed;
    border: 1px solid #ccc;
    padding: 0.5em
}

blockquote > p:first-child { margin-top: 0 }
blockquote > p:last-child { margin-bottom: 0 }

h1 { font-size: 2em }
h2 { font-size: 1.59em }
h3 { font-size: 1.26em }
h4, h5, h6 { font-size: 1em }
h4 { font-weight: bold; font-style: italic }
h5 { font-weight: normal; font-style: italic }
h6 { font-weight: normal; font-style: normal }
h2, h3, h4, h5, h6 { font-family: Helvetica,Arial,sans-serif }
h1, h2, h3, h4, h5, h6 { margin: 1em 0 22px 0 }
h1:first-child { margin-top: 0 }
