/* Stylesheet for Dercuano; parts modeled on A Medium Corporation,
   The Grammar of Graphics, Fernando Irarrázaval’s blog, and
   Wikipedia. */

@import "et-book.css";

body {
    max-width: 35em;
    padding: 1em;
    margin: 0 auto;
    line-height: 1.4;
    font-size: 26px;
    color: rgba(0, 0, 0, 0.794);
    font-family: "et-book", "URW Palladio L", Palatino, serif;
}

/* See file `dercuano-stylesheet-notes` for an explanation of this;
 * basically I wanted 80-column <pre> text to fit within the 45-em
 * column of normal text instead of sticking out the side.  19px <pre>
 * and 22px on everything else made this work well, and then I tweaked
 * it to 18px and applied it to <code> too to get the X-heights to
 * work with ET Book.
 */

pre, code { font-size: 80%; line-height: 0.9; color: rgba(55, 55, 55, 1) }

blockquote, pre {
    background-color: #eed;
    border: 1px solid #ccc;
    padding: 0.5em;
}

blockquote > p:first-child,
blockquote > ul:first-child,
blockquote > ol:first-child {
    margin-top: 0;
}
blockquote > p:last-child,
blockquote > ul:last-child,
blockquote > ol:last-child {
    margin-bottom: 0;
}

h1, h2 { margin: .75em 0 26px 0; border-bottom: 1px solid #aab }
h3, h4, h5, h6 { margin: .75em 0 .5em 0 }
h1, h2, h3, h4, h5, h6 { letter-spacing: 0.05em; color: rgba(136,0,0,.794) }
/* h1, h2, h3, h4, h5, h6, .metadata { font-family: Helvetica,Arial,sans-serif } */
h1:first-child, h2:first-child, h3:first-child,
h4:first-child, h5:first-child, h6:first-child,
h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6,
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p { margin-top: 0 }
h1 { font-size: 2em }
h2 { font-size: 1.59em }
h3 { font-size: 1.26em }
h4, h5, h6 { font-size: 1em; font-variant: small-caps; }
h4 { font-weight: bold; font-style: italic }
h5 { font-weight: normal; font-style: italic }
h6 { font-weight: normal; font-style: normal }

.metadata { color: rgba(0,0,0,.5) }